SocialNetWeb/Service References/SocialNetServiceReference/SocialNetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41539/SocialNetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SocialNetDAL" />
  <xs:element name="AddCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCategoriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldNom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCategoriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCategoriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q1:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListCategoriesResult" nillable="true" type="q2:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categorie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateDebut" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="photo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldNom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categorie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateDebut" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="photo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="GetEventsResult" nillable="true" type="q3:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListEventsResult" nillable="true" type="q4:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPublicEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPublicEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListPublicEventsResult" nillable="true" type="q5:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPrivateEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPrivateEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListPrivateEventsResult" nillable="true" type="q6:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRelatedEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRelatedEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListRelatedEventsResult" nillable="true" type="q7:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avatar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldPseudo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="avatar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="GetUsersResult" nillable="true" type="q8:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListUsersResult" nillable="true" type="q9:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>