SocialNetSilverlight/Service References/SocialNetServiceReference/SocialNetService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58777/SocialNetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SocialNetDAL" />
  <xs:import schemaLocation="http://localhost:58777/SocialNetService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UpdateComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPhoto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newComment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCommentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCommentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="GetCommentsResult" nillable="true" type="q1:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListComments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListCommentsResult" nillable="true" type="q2:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRelatedComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRelatedCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListRelatedCommentsResult" nillable="true" type="q3:ArrayOfComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCategoriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCategoriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCategoriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q4:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListCategoriesResult" nillable="true" type="q5:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="newEndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="newDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPhoto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="newEndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="newDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPhoto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="GetEventsResult" nillable="true" type="q6:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListEventsResult" nillable="true" type="q7:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPublicEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPublicEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListPublicEventsResult" nillable="true" type="q8:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPrivateEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListPrivateEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListPrivateEventsResult" nillable="true" type="q9:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRelatedEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldNick" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRelatedEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListRelatedEventsResult" nillable="true" type="q10:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEventsNamePhoto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEventsNamePhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListEventsNamePhotoResult" nillable="true" type="q11:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEventsName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEventsNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListEventsNameResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEventsPhoto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEventsPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListEventsPhotoResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newNick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newFirstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newLastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAvatar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldNick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newNick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newFirstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newLastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAvatar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldNick" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldNick" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="GetUsersResult" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListUsersResult" nillable="true" type="q15:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRecordsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="GetRecordsResult" nillable="true" type="q16:Record" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListRecordsResult" nillable="true" type="q17:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRelatedRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListRelatedRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SocialNetDAL" minOccurs="0" name="ListRelatedRecordsResult" nillable="true" type="q18:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newEvent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPhoto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newComment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCommentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>